@import 'bootstrap';
@import 'settings';

body {
	background-image: url('../images/bg-rechts.png'), url('../images/bg-links.png');
	background-repeat: no-repeat, no-repeat;
	background-position: top right, top left;
	background-color: $green;

	padding: 50px 50px 0 50px;
}

/* Fonts */
@font-face {
    font-family: "gothambook";
    src: url("../fonts/gotham-htf-book.woff") format('woff');
}
@font-face {
    font-family: "gothambook";
    src: url("../fonts/gotham-htf-book.eot") format('eot');
}

@font-face {
    font-family: "gothammedium";
    src: url("../fonts/gotham-htf-medium.woff") format('woff');
}

@font-face {
    font-family: "MercuryRegular";
    src: url("../fonts/mercury_regular-webfont.woff") format('woff');
}

@font-face {
    font-family: "MercuryRegular";
    src: url("../fonts/mercury_regular-webfont.eot") format('eot');
}

/*@font-face {
    font-family: "myfont";
}

@font-face {
    font-family: "myfont";
    src: url("fonts/awesome-font-oblique.woff") format('woff');
    font-style: italic;
}
*/
/* Bootstrap reset */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-brand {
    float: left;
    padding: 5px 15px;
    width: 180px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-family: gothambook;
    font-size: 16px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    margin-top: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #E0E0E0;
    border-radius: 4px;
    background-clip: padding-box;
    border: none;
    box-shadow: none;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	    color: #FFF;
	}
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: $green;
    background-color: transparent;
}

@media (min-width: 768px) {
	.navbar-right {
	    float: right !important;
	    margin-right: -15px;
	    margin-top: -20px;
	}
}

ul {
	list-style: none;
	padding-left: 0;
	font-family: MercuryRegular;
	font-size: 14px;
	color: white;
}

ul li {
	margin-top: 10px;
}

/* Website */
h2 {
	font-size: 20px;
	font-family: gothammedium;
	color: white;
}
h3 {
	font-size: 16px;
	font-family: gothammedium;
	color: white;
	margin-bottom: 20px;
}

p {
    font-family: MercuryRegular;
    color: #EAEAEA;
    line-height: 24px;
    font-size: 14px;
}

.footer__link {
	color: white;
	border-bottom: 1px solid white;
}

.footer__link:hover {
	text-decoration: none;
	color: $purple;
	border-bottom: 1px solid #692380;
}

.cta {
	background: white;
  color: #3CAF73;
  font-family: gothambook;
  /*text-transform: uppercase;*/
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 5px;
}

.cta:hover {
	background: $purple;
	color: white;
}

a:hover {
	text-decoration: none;
}

.bottom-row {
	margin-top: 20px;
}

/* Map image */
.slotenmaker-image {
	max-width: 514px;
	position: relative;
	margin-left: -112px;
	top: 48px;
}

.slotenmaker-image__sleutel {
  position: absolute;
  z-index: 1000;
  width: 35%;
  left: 71%;
  top: 8%;
}

.slotenmaker-image__kader {
	width: 100%;
}

.slotenmaker-image__telefoonnummer {
	width: 68%;
	z-index: 100;
	position: absolute;
	left: 170px;
	top: 61%;
}

.slotenmaker-image__map {
	position: absolute;
	top: 25%;
	width: 83%;
	left: 99px;
}

.slotenmaker-image__circlecontainer {
	position: absolute;
	left: 61%;
	width: 100px;
	top: 36%;
	z-index: 10;
}

.slotenmaker-image__circle {
    width: 30%;
}

footer {
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 40px;
	border-top: 1px dotted white;
}

input[type="text"], input[type="email"], textarea {
  display: block;
  margin: 0;
  width: 100%;
  font-family: MercuryRegular;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  outline: none;
}

input[type="text"], input[type="email"], textarea {
  padding: 8px;
  border: none;
	border-bottom: solid 2px #692380;
  transition: border 0.3s;
  margin-top: 5px;
}
input[type="text"]:focus,
input[type="text"].focus, 
input[type="email"]:focus, 
input[type="email"].focus,
textarea:focus,
textarea.focus {
  border-bottom: solid 2px #969696;
}

input[type="submit"] {
  display: block;
  margin: 0;
  width: 50%;
  font-family: MercuryRegular;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  border-radius: none;	
  background: $purple;
  padding: 8px;
  border: none;
  color: white;
  margin-top: 5px;
}

input[type="submit"]:hover {
	background: white;
	color: $purple;
}